alembic==1.18.4
bcrypt==5.0.0
fastapi==0.135.1
httpx==0.28.1
passlib==1.7.4
pg8000==1.31.2
pydantic==2.12.5
pydantic-settings==2.13.1
pytest==9.0.2
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.22
SQLAlchemy==2.0.48
supabase==2.15.2
uvicorn==0.41.0
